.FilterForm {
  border-radius: 1rem;
  /* width: 30%; */
  border: 1px solid lightgray;
  padding: 20px;
}

/* Style for radio buttons and checkbox labels */
.FilterForm label {
  display: block;
  margin: 10px 0; /* Add some vertical spacing between the form elements */
  color: rgb(59, 58, 58); /* Text color for labels */
}

/* Style for radio buttons and checkboxes */
.FilterForm input[type="radio"],
.FilterForm input[type="checkbox"] {
  margin-right: 5px; /* Add some spacing between the input and label text */
}

.FilterForm button {
  padding: 0.5rem;
  width: 90%;
  margin: 0 auto;
  border: none;
}
