.card-container {
  width: 16rem;
  min-height: 425px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: white;
  overflow: hidden;
}

.card-image img {
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card-title {
  font-weight: 500;
  line-height: 1.1rem;
  margin: 0.5rem 5%;
}

.card-description {
  font-weight: 300;
  line-height: 1rem;
  margin: 0.5rem 5%;
}

.card-info {
  margin: 0 0.5rem;
}

.card-btn {
  text-align: center;
  width: 90%;
  border-radius: 1.2rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #6082cc;
  color: white;
  text-decoration: none;
  margin: 0.5rem auto;
  cursor: pointer;
}

.card-btn:disabled {
  background-color: #999;
}
.card-btn-out {
  text-align: center;
  width: 90%;
  border-radius: 1.2rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #833612;
  color: white;
  text-decoration: none;
  margin: 0.5rem auto;
}
