*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --primary: #f2e3db;
  --dark-green: #263a29;
  --secondary-tan: #faf1e4;
  --dark-tan: #faf0d7;
  --light-green: #136775;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.svg-img {
  width: 20px;
  height: 20px;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.hero-text {
  position: absolute;
  width: 40%;
  text-align: center;
  top: 0;
  bottom: 0;
  padding: 3rem;
}
